body
{
color:whitesmoke;
background:rgb(199, 4, 248);
}
.heading
{
    width: 80%;
    font-size: 22px;
}
#camera
{
    border: 2px dashed black;
    width: 350px ;
    height: 300px;
}
.name_of_objects, #result_person_name , #result_person_accuracy
{
    color: rgb(0, 183, 255);
}
